

/* Main CSS */


body {
   padding-top: 0px;
   padding-bottom: 20px;
}

@font-face {
   font-family: RobotoCondensedBold;
   src: url(../fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
   font-family: RobotoCondensed;
   src: url(../fonts/RobotoCondensed-Regular.ttf);
} 


.jumbotron {
   background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url('../img/banner.jpg');
   background-size: cover;
   background-position: center;
   padding: 160px 0;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.jumbotron .container {
   text-align: center;
}


.jumbotron .container h1 {
   color: #FFF;
   text-transform: uppercase;
   font-family: "RobotoCondensed",sans-serif;
   letter-spacing: 20px;
   font-weight: 400;
   font-size: 52px;
}

.myButton {
   text-transform: uppercase;
   font-family: "RobotoCondensed",sans-serif;
	background-color: transparent;
	border-radius:1px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
	padding:16px 31px;
	text-decoration:none;
   margin-top: 40px;
   letter-spacing: 3px;
   -webkit-transition: color 0.5s ease;
   -moz-transition: color 0.5s ease;
   -o-transition: color 0.5s ease;
   transition: color 0.5s ease;
   transition: background-color 0.5s ease 0s;
}
.myButton:hover, .myButton:active {
   background-color:#ffffff;
   color:#000000;
   transition: background-color 0.5s ease 0s;
   
}
.myButton:active {
	position:relative;
	top:1px;
}
a, a:hover, a:active, a:visited, a:focus {
   text-decoration:none;
   color: #ffffff;
}

.skill-icon {
   max-width: 75px;
   max-height: 75px;
   display: block;
   margin: 0 auto;
}

.skill-box {
   text-align: center;
   margin-top: 30px;
}

.skill-box h3 {
   margin-top: 10px;
}


.navbar {
   background-image: none;
   background-color: transparent;
   transition: background-color 0.75s ease 0s;
   position: fixed;
}

.navbar.solid {
   background-color: #000;
   transition: background-color 0.75s ease 0s;
}

.navbar-brand {
   letter-spacing: 4px;
   font-weight: 400;
   font-size: 22px;
   color: #fff;
   text-transform: uppercase;
   font-family: "RobotoCondensed",sans-serif;
}